In [31]:
import geopandas as gpd

In [32]:
gdf = gpd.read_file('Village/TH_Village.shp')

In [33]:
gdf.head()

,VILL_,VILL_ID,NAME,AMP_ID,TAM_NAME,AMP_NAME,PRV_NAME,geometry
0,1,1,บ้านท่าลานเตียน,10902,ท่าฉนวน,มโนรมย์,ชัยนาท,POINT (620166.181 1704103.793)
1,2,4,บ้านหนองสะแก,10902,ท่าฉนวน,มโนรมย์,ชัยนาท,POINT (619566.179 1703803.791)
2,3,5,บ้านหัวยาง,10902,ท่าฉนวน,มโนรมย์,ชัยนาท,POINT (620166.181 1703703.791)
3,4,6,บ้านสะพานหิน,10902,ท่าฉนวน,มโนรมย์,ชัยนาท,POINT (618266.174 1703603.790)
4,5,9,บ้านทุ่งประพาส,10902,ท่าฉนวน,มโนรมย์,ชัยนาท,POINT (617466.172 1702703.786)

# Transform to h3 since space db has only prefix matching.

use res = 14, for the 14th resolution of h3, which is about 1.5m.

<https://h3geo.org/docs/core-library/restable>

In [34]:
import h3

In [35]:
h3.versions()

{'c': '4.0.0', 'python': '4.0.0b2'}

In [36]:
# to lat, lng
gdf = gdf.to_crs(epsg=4326)

In [37]:

# apply h3 to geodataframe
gdf['h3'] = gdf.geometry.apply(lambda p: h3.latlng_to_cell(p.y, p.x, 14))

In [38]:
# apply h3 to geodataframe
gdf['h3_int'] = gdf.h3.apply(lambda x: h3.str_to_int(x))

In [39]:
# change column name to title case except geometry
gdf.columns = [c.title() if c != 'geometry' else c for c in gdf.columns]

In [40]:
gdf.to_parquet('Village/TH_Village.parquet')

In [41]:
gdf.to_file('Village/TH_Village.geojson', driver="GeoJSON")

# Convert for kepler.gl
<https://docs.kepler.gl/docs/user-guides/b-kepler-gl-workflow/a-add-data-to-the-map#csv>

In [27]:
gdf["Lat"] = gdf.geometry.apply(lambda p: p.y)
gdf["Lng"] = gdf.geometry.apply(lambda p: p.x)

In [28]:
gdf.columns

Index(['Vill_', 'Vill_Id', 'Name', 'Amp_Id', 'Tam_Name', 'Amp_Name',
       'Prv_Name', 'geometry', 'H3', 'H3_Int', 'lat', 'lng'],
      dtype='object')

In [29]:
gdf.to_csv('Village/TH_Village.csv')

In [30]:
from operator import index


gdf[['H3']].to_csv('Village/TH_Village_h3.csv', index=False)